<div class="container">
    <div class="select-box">
      <label for="energy1">Choix de l'énergie 1 :</label>
      <select id="energy1" #energy1Select>
        <option *ngFor="let energie of energies_list" value={{energie.name}}>{{energie.name}}</option>
      </select>
    </div>
    <div class="select-box">
      <label for="energy2">Choix de l'énergie 2 :</label>
      <select id="energy2" #energy2Select>
        <option *ngFor="let energie of energies_list" value={{energie.name}}>{{energie.name}}</option>
      </select>
    </div>
    <button (click)="compare()">Lancer la comparaison</button>
    <div *ngIf="energy1Details && energy2Details">
      <table>
        <thead>
          <tr>
            <th>{{ energy1Details.name }}</th>
            <th> Paramètre </th>
            <th>{{ energy2Details.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ energy1Details.lcoe }}</td>
            <td class="detail"> LCOE </td>
            <td>{{ energy2Details.lcoe }}</td>
          </tr>
          <tr>
            <td>{{ energy1Details.lcoe }}</td>
            <td class="detail"> Chiffre clé 2 </td>
            <td>{{ energy2Details.lcoe }}</td>
          </tr>
          <tr>
            <td>{{ energy1Details.lcoe }}</td>
            <td class="detail"> Chiffre clé 3 </td>
            <td>{{ energy2Details.lcoe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>