.logo {
    img{
        max-width: 70px;
        margin: 10px;
    }
}

.spacer {
    flex: 50 1 auto;
    //border: 3px solid black;
}

h1 {
    color: #333; 
    font-weight: bold;
    text-decoration: none;
}

.nav-home {
  text-decoration: none;
}

.nav-bar {
  color: #514e4e; // Couleur du texte des liens
  font-weight: bold; // Police en gras
  margin-right: 15px; // Marge à droite entre les liens
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(193, 239, 223);
  height: 100px;
  //border: 3px solid black;
}

.navbar-nav {
  display: flex;
  align-items: center;
  //border: 3px solid blue;
  .nav-text {
    color: #342f2f;
    //font-family: 'Courier New', Courier, monospace; //à changer
    text-decoration: none;
    margin-right: 15px; 
  }
}

