<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="logo">
        <img src="assets/logo.png">
      </div>
      <h1>The Eve Project</h1>
      <div class="spacer"></div>
      <!-- <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Carte mentale</a>
          <a class="nav-link active" aria-current="page" routerLink="/">Comparateur</a>
          <a class="nav-text" routerLink="/">Glossaire</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>