.chartContainer {
    width: 500px;
    height: 500px;
}

.container {
    display: flex; 
  }
  
  .chart-container {
    flex-grow: 1; 
  }
  
  .table-container {
    flex-basis: 50%;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tbody tr:hover {
    background-color: #e9e9e9;
  }
  