<body>
  <div class="main-container">
   <div class="text">
   <h1>Carte Mentale</h1>
   <p> Cette carte mentale est une représentation visuelle des données qui permet de les organiser, de les synthétiser et de les explorer de manière intéractive autour d'un thème centrale : le mix énergétique français.
     <br> Il y a deux possibilités : déployer les diagrammes en partant du mix de la <strong>Consommation d'énergie primaire</strong> (bouton de gauche), ou bien partir de la <strong>Répartition des vecteurs énergétiques</strong> (bouton de droite).
   </p>
 </div>
   <div class="container">
     <div class="chartContainer" >
       <button id="button-prod" (click)="showPie('button-prod')">Commencer par la consommation en énergie primaire</button>
       <div class="pie-chartContainer" id="prod-pie" *ngIf="showPieProd">
         <div *ngIf="chartsData.length > 0">
           <div *ngFor="let chartData of chartsData" >
             <div class="{{chartData.title.text}}">
               <pie-chart [series]="chartData.series"  [labels]="chartData.labels" [title]="chartData.title" (click)="onChartLoad($event)"></pie-chart>
             </div>
           </div>
         </div>
       </div>
     </div>
   
     <div class="chartContainer" >
       <button id="button-vector" (click)="showPie('button-vector')">Commencer par la consommation des vecteur d'énergie</button>
       <div class="pie-chartContainer" id="vector-pie" *ngIf="showPieVector">
         <div *ngFor="let chartData of chartsData2" >
           <div class="{{chartData.title.text}}">
             <pie-chart [series]="chartData.series"  [labels]="chartData.labels" [title]="chartData.title" (click)="onChartLoad($event)"></pie-chart>
           </div>
         </div>  
       </div>
     </div>
   </div>
   <div class="table-container" *ngIf="displayTable">
     <button class="close-button" (click)="hideTable()">Fermer</button>
     <table class="styled-table">
       <thead>
         <tr>
           <th><button class="table-button" (click)="showTable('td_fonctionnement')">Fonctionnement</button></th>
         </tr>
       </thead>
       <tbody>
          <tr *ngFor="let detail of energies_details">
            <td *ngIf="showFonctionnement" id="td_fonctionnement" colspan="3"><strong>Principe de fonctionnement pour la production d'énergie : </strong>{{ detail.description }}</td>
            <td *ngIf="showFonctionnement" id="td_fonctionnement" colspan="3"><strong>Différents types de technologie : </strong>{{ detail.type_technologie }}</td>
            <td *ngIf="showFonctionnement" id="td_fonctionnement" colspan="3"><strong>Densité massique énergétique :</strong>{{ detail.densite_massique }}</td>
            <td *ngIf="showFonctionnement" id="td_fonctionnement" colspan="3"><strong>Emission de CO2/kWh</strong>{{ detail.CO2 }}</td>
          </tr>
          <th><button class="table-button" (click)="showTable('td_chiffres')">Chiffres clés</button></th>
          <tr *ngFor="let detail of energies_details">
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"> <strong> Coût d'un kWh (LCOE) :</strong> {{ detail.lcoe }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"> <strong>Nombre de tranches installées en FR en 2023 :</strong> {{ detail.installation }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong>Surface au sol (Nombre de km2 nécessaires pour produire 1TWh par an) :</strong> {{ detail.surface }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong>Rendement :</strong> {{ detail.rendement }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong>Puissance totale installée :</strong> {{ detail.puissance_installee }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong>Puissance Unitaire :</strong> {{ detail.puissance_unitaire}}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong>Production annuelle et équivalent vulgarisé :</strong> {{ detail.puissance_vulgarisee}}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"><strong> Équivalent Pétrole :</strong> {{ detail.equivalent_petrole }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"> <strong>Acteurs principaux de construction/exploitation :</strong> {{ detail.acteurs_principaux }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"> <strong>Durée de vie :</strong> {{ detail.duree_vie }}</td>
            <td *ngIf="showChiffres" id="td_chiffres" colspan="3"> <strong>>Coût du combustible :</strong> {{ detail.cout_du_combustible }}</td>
          </tr>
          <th><button class="table-button" (click)="showTable('td_avantages')">Avantages/Inconvénients</button> </th>
          <tr *ngFor="let detail of energies_details">
            <td *ngIf="showAvantages" id="td_avantages" colspan="3"><strong>Avantages :</strong> {{ detail.idee_recue }}</td>
            <td *ngIf="showAvantages" id="td_avantages" colspan="3"><strong>Inconvénients :</strong> {{ detail.points_negatifs }}</td>
          </tr>
       </tbody>
     </table>
 </div>
 </div> 
 </body>
 