.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex; 
  justify-content: center;
  flex-direction: row;
}

.chartContainer {
    width: 500px;
    height: 500px;
}
  .chartContainer {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  
  .table-container {
    margin-top: 700px;
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
      display: flex;
    flex-direction: column;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  

  .pie-chartContainer {
      display: grid;
      grid-template-rows: 1000px 1000px 1000px 1000px 1000px;
      grid-gap: 10px;
  }
  
.Energies{
    grid-column-start: 1;
    grid-column-end: 4;
}

.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: 2px solid #177e89;
  color: #177e89;
  font-weight: bold;
  font-size: 15pt;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #177e89;
  color: white;
}

.table-button{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10pt;
  border: 2px solid #353535;
  color: #353535;
  margin-left: 10px;
}

.table-button:hover {
  background-color: #353535;
  color: white;
}

.close-button{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10pt;
  border: 2px solid #353535;
  color: #353535;
  margin-left: 90%;
  
}

.close-button:hover {
  background-color: #353535;
  color: white;
}


.text {
  text-align: justify;
  padding: 10px 100px;
  margin: 10px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  text-align:center;
  background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  h1 {
    font-size: 20pt;
    font-weight: 700;
    font-style: normal;
    margin: 20px;
  }
}