
.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex; 
  flex-direction: row;
}

.chartContainer {
    width: 500px;
    height: 500px;
}
  .chartContainer {
    display: flex;
    flex-direction: column;
  }
  
  .table-container {
    margin-top: 700px;
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tbody tr:hover {
    background-color: #e9e9e9;
  }

  .pie-chartContainer {
      display: grid;
      grid-template-rows: 1000px 1000px 1000px 1000px 1000px;
      grid-gap: 10px;
  }
  
.Energies{
    grid-column-start: 1;
    grid-column-end: 4;
}

.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: 2px solid #177e89;
  color: #177e89;
  font-weight: bold;
  font-size: 15pt;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #177e89;
  color: white;
}

.table-button{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10pt;
  border: 2px solid #353535;
  color: #353535;
  margin-left: 10px;
}

.table-button:hover {
  background-color: #353535;
  color: white;
}