body {
    margin: 20px 0px 20px 0px;
    font-family: 'Barlow', Courier, monospace;
    color: #353535;
    background-color: #ffffff;
    font-size: 10.5pt;
    text-align: center;
}

header {
    margin-top: 0;
    margin-bottom: 12pt;
}

h1 {
    font-size: 20pt;
    font-weight: 700;
    font-style: normal;
}

main {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 8pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

h2 {
    font-size: 15pt;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8pt;
}

button {
    background-color: white;
    border: 2px solid #177e89;
    color: #177e89;
    font-weight: bold;
    font-size: 15pt;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #177e89;
    color: white;
}

.sankey {
    background-color: #aae0f4;
    border: 2px solid #353535;
    color: #353535;
    font-weight: bold;
    font-size: 15pt;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.sankey:hover {
    background-color: #353535;
    color: white;
}

.intro{
    margin: 0px 60px 0px 60px;
}

.text{
    margin: 30px 60px 30px 60px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.text_1{
    margin: 30px 0px 30px 0px;
    padding: 20px 40px 20px 60px;
    background-color: #63d389;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    text-align: left;
    .titre_1 {
        font-size: 6em;
        width: 120%;
        display: flex;
        align-items: center;
    }
}

.mtn{
    // font-weight: bold;
    font-size: 15pt;
}

img{
    width: 500px; //si on veux que ces soit adaptable à la taille de l'écran, mettre en %
}

.text_image{
    margin: 30px 0px 30px 0px;
    padding: 20px 40px 20px 60px;
    background-color: #aae0f4;
    display: flex;
    justify-content: center;
    flex-direction: row;
    // color: white;
    text-align: left;
    .titre_1 {
        font-size: 5em;
        width: 120%;
        display: flex;
        align-items: center;
    }
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.enr{
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 50%;
    margin: 40px;
    padding: 20px;
}

.img_enr{
    width: 70%;
}

.spacer{
    height: 10%;
}

.elec_image{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
    padding: 20px 40px 20px 60px;
    background-color: #177e89;
}

.elec{
    color: white;
    text-align: left;
    width: 120%;
}

footer {
    margin-top: 0;
    margin-bottom: 8pt;
}

a {
    color: #177e89;
    font-weight: bold;
    text-decoration: none;
}