<body>
    <header>
        <h1>Comprendre les énergies</h1>
    </header>
    <main>
        <section class="intro">
            <p>L'énergie est la force qui anime notre monde.
            <br> Elle est omniprésente dans notre vie quotidienne, mais sa compréhension reste souvent complexe.
            <br> Ce site a pour ambition de démystifier les différentes formes d'énergie et d’expliquer les enjeux qui y sont associés, dans le but de sensibiliser chacun à leur importance.</p>
        </section>
            <button routerLink="">
                Parcourir la carte mentale
            </button>
        <section class="text_1">
            <h2 class="titre_1">Qu'est-ce que l'énergie ?</h2>
            <p>L’énergie, c’est « La capacité à effectuer des transformations ». Elle permet par exemple de créer un mouvement, de changer la température… 
                <br>
                <br>Dès qu’un changement apparaît sur l’état de quelque chose (température, mouvement …), c’est que de l’énergie a été échangée. 
                <br>Il en va de même avec l’être humain : chaque action du corps humain (se déplacer, manger, respirer…) nécessite de l’énergie que l’on obtient au travers de la nourriture.
                <br>Tous les objets que l’on a pu construire nécessite également de l’énergie pour fonctionner. 
                <br>Soit au travers de l’action humaine (une hache par exemple ne sert à rien si l’Homme ne lui fournit pas d’énergie pour la soulever et l’abattre sur le bois), soit au travers d’une autre source d’énergie (une voiture ne peut pas avancer sans l’énergie fournit par l’essence). 
                <br>
                <br>Ainsi, notre société fonctionne uniquement grâce à des échanges d’énergies. 
                <br>Les énergies sont à la base de toutes actions et sont donc primordiales pour notre survie. </p>
        </section>
        <section class="intro">
            <p class="mtn">Maintenant que nous comprenons ce que sont les énergies, essayons de comprendre le parcours des énergies, de leur source jusqu’à leur forme finale.</p>
        </section>
        <section class="text_image">
            <img src="assets/eolienne.png">
            <div class="text_2">
            <h2 class="titre_1">Le parcours des énergies</h2>
            <p>L’énergie est issue de différentes sources d’énergie qu’on peut classifier en 2 grandes catégories :
                <br>
                <br>-	<a routerLink="/glossaire">Les énergies renouvelables</a>
                <br>-	Les énergies non renouvelables
                <br>
                <br>Les énergies non renouvelables sont les énergies dont les sources ont un stock limité sur terre. Lorsqu’on aura consommé tout le stock, on ne pourra plus jamais utiliser ces énergies. 
                A l’inverse, les énergies renouvelables sont des énergies qui sont renouvelées en permanence par la Terre. 
            </p>
            </div>
        </section>
        <section class="box">
            <div class="enr">
                <h1>Les énergies non renouvelables</h1>
                <br>
                <br>Au sein de cette catégorie, on peut distinguer également 2 sous-catégories :
                <br>
                <br>-	Les énergies fossiles : elles proviennent de la décomposition de matières végétales et organiques accumulées sous terre pendant des centaines de millions d’années. Ce processus transforme ces résidus en hydrocarbures tels que le pétrole, le gaz naturel et de schiste, ainsi que le charbon.
                <br>
                <br>-	L’énergie nucléaire : il s’agit de l’énergie comprise dans les noyaux des atomes
                <img class="img_enr" src="assets/oil.png">
            </div>
            <div class="enr">
                <h1>Les énergies renouvelables</h1>
                <br>
                <br>Les énergies renouvelables sont issues de sources qui ne s’épuisent pas et qui sont renouvelées en permanence comme le vent, le soleil, l’eau, la biomasse ou encore la géothermie.
                <br>Les énergies qu’on trouve comme cela à l’état brut dans la nature sont ce qu’on appelle les énergies primaires. Ce sont toutes les énergies qui n’ont pas subi de transformation.
                <div class="spacer"></div>
                <img class="img_enr"  src="assets/sun.png">
            </div>
        </section>
        <div class="elec_image">
        <section class="elec">
                <h1> Mais alors qu’est ce que l’électricité puisqu’on ne peut pas en trouver comme cela dans la nature ? C’est une énergie pourtant, non ?</h1>
                <br>
                <br>Et bien l’électricité est ce qu’on appelle une énergie secondaire.  Elle est obtenue par la transformation d’une énergie primaire. L’électricité n’existe en effet pas à l’état naturel mais peut être obtenue à partir du vent (via les éoliennes) ou par le soleil (via les panneaux solaires).
                <br>
                <br>L’énergie finale est alors l’énergie utilisée directement par l’Homme. Elle peut soit être une énergie primaire (pétrole) ou une énergie secondaire (électricité par exemple). On parle alors de vecteurs énergétiques : chaleur, électricité, carburant.
        </section>
        <img src="assets/elec.png">
        </div>
        <section class="intro">
            <p class="mtn">Ces notions étant désormais acquises, nous vous invitons à parcourir le site afin de comprendre la répartition en France des énergies primaires et des différents vecteurs énergétiques.</p>
        </section>
    <button routerLink="">
        Parcourir la carte mentale
    </button>
    </main>
</body>
