<body>

  <header>
        <h1 class="titre">Une plume à jardin</h1>
    </header>
    
      <h2 class="titre">sous-titre</h2>
      
  <!--barre de navigation commune à recopier dans chaque page-->
     <nav>
          <ul>
                <li><a href="index_UPJ.html">La compagnie</a></li>
                <li><a href="item_les_creations.html">Les créations</a></li>
                <li><a href="item_Photos.html">La comédienne</a></li>
               <!-- <li><a href="item_la_maison_holstein.html">La maison Holstein</a></li>
                <li><a href="item_planche_culture.html">Planche Culture</a></li>
                
                <li><a href="item_textes.html">Textes</a></li>
                <li><a href="item_public.html">Avis du public</a></li>-->
                <li><a href="#footer">Contact</a></li>
            </ul>
     </nav>

     
     <div id="ligne1">
          <img class="compagnie"src="assets/UPJ/compagnie_fond_noir.png">  
    </div>

    <div id="sous_ligne">

      <h3>titre niveau h3</h3>
      
   
    </div>
 
    <footer id="footer">

      <p>
        <strong>Email : </strong><a href="mailto:compagnie@uneplumeajardin.fr">compagnie&#64;uneplumeajardin.fr</a>
      </p>
        <!-- pour écrire @ il faut taper &#64; ! -->
      

      <p><strong>Phone : </strong>0781468616</p>

      <p class="bottom">© By Apolline 2022</p>

    </footer>

</body>


<router-outlet></router-outlet>
